html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #252525;
  min-height: 100vh;
  min-width: 100rem;
}

.gallery {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  /*308px height is to make the pictures fill the border*/
  height: 308px;
}

.gallery-border {
  border: 4px solid black;
}

.gallery-margin {
  margin-right: 20px;
}

.hover-text1,
.hover-text2,
.hover-text3,
.hover-text4,
.hover-text5 {
  margin-top: -150px;
  color: white;
  font-size: 1.2em;
  border: 2px solid white;
  opacity: 0;
  text-align: center;
  text-shadow: 0px 0px 2px white;
}

.gallery-hover:hover,
.hover-text1:hover,
.hover-text2:hover,
.hover-text3:hover,
.hover-text4:hover,
.hover-text5:hover {
  opacity: 1;
}
