/*
    TODO:
    1: Optimize code with shorthands, CSS Best practices, rules etc
*/

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #252525;
  min-height: 100vh;
  min-width: 100rem;
}

nav {
  width: 100%;
  height: 100px;
  background-color: #2e2e2e;
}

.nav-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}

.nav-items {
  color: #fbb00e;
  list-style: none;

  font-size: x-large;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0px;
}

.get--started,
.explore,
.facts,
.contact-info {
  padding-right: 80px;

  /*make nav items look clickable*/
  cursor: pointer;
}

.intro-title {
  color: #fbb00e;
}

#intro-section {
  display: flex;

  width: 100%;
  height: 100%;
}

.left-flex {
  background-color: black;
  width: 50%;
  height: 600px;

  padding: 150px 0px 0px 150px;
}

.intro-text {
  color: white;
  font-size: larger;

  display: flex;
  align-items: start;
  padding: 10px 100px 0px 0px;

  white-space: pre-line;
}

.right-flex {
  background-color: black;
  width: 50%;
  height: 600px;

  display: flex;
}

.planet-details {
  background-color: black;
  width: 100%;
  height: 100px;
  padding: 20px;

  display: flex;
  justify-content: space-evenly;
}

.detail-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.planet-title {
  color: #fbb00e;
  text-transform: uppercase;
  font-size: medium;
  margin-bottom: 10px;
}

.planet-distance,
.planet-orbit-time,
.planet-orbit-duration {
  color: white;
  font-size: large;
  margin: 0;
}

.planet-type {
  color: white;
  font-size: medium;
  margin: 0;
}

#get-started {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#title {
  color: #fbb00e;

  font-size: 48px;
  font-weight: bold;

  text-align: center;
  margin: 300px auto 0px auto;
}

#watch-this {
  position: absolute;
  margin-left: 380px;
  margin-top: 230px;
}

#character {
  width: 500px;
  height: 500px;
  margin: 100px 0 -750px 150px;
}

#video {
  margin: 100px;
  margin-left: 723px;
}

.explore1 {
  width: 100%;
  height: 350px;
  display: flex;
}

.explore-wrapper {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mercury1 {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#explore-title {
  color: #fbb00e;
  font-size: x-large;
  font-weight: bold;
  text-align: center;
  margin: 300px auto 0px auto;
  padding-bottom: 50px;
}

a {
  color: #fbb00e;
  text-decoration: none;
}

/* Sun system sun and Mercury*/
.wrapper {
  position: relative;
  margin: 0 auto;
  display: block;
  margin-top: 0px;
  perspective: 1000px;
  perspective-origin: 60% 50%;
  transform: rotate(-10deg);
}

.wrapper > div {
  position: relative;
  margin: 0 auto;
  transform-style: preserve-3d;
  height: 0;
}

.sun {
  width: 250px;
  position: absolute;
  top: 0;
  z-index: 1;
  height: 125px !important;
}

.sun .star {
  width: 250px;
  height: 250px;
  background: url(./Pictures/sunnn.png) no-repeat;
  background-size: cover;
  border-radius: 250px;
  margin: 0 auto;
  animation: spinsun 40s infinite linear;
}

.sun .star:hover {
  width: 300px;
  height: 300px;
}

.planet {
  background-size: cover;
  background-repeat: no-repeat;
  background-color: transparent;
  animation-iteration-count: infinite;
  overflow: hidden;
}

/* .shadow {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: transparent url(./Pictures/Space.jpg) 0% 0% no-repeat;
  background-size: cover;
  border-radius: 100%;
} */

.mercury {
  position: absolute;
  width: 400px;
  z-index: 2;
  animation: orbitmurcury 12s infinite linear;
  top: -7.5px;
}

.mercury .planet:hover {
  width: 120px;
  height: 120px;
}

.mercury .planet {
  width: 25px;
  height: 25px;
  background-image: url(./Pictures/MercuryPlanet.png);
  animation: anti-spin 12s infinite linear;
}

.mercury .shadow {
  animation: shadow 12s infinite linear;
}

@keyframes spinsun {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(-360deg);
  }
}

@keyframes shadow {
  0% {
    background-position: 130% 0%;
  }
  33% {
    background-position: 50% 0%;
  }
  55% {
    background-position: 0 0%;
  }
  80% {
    background-position: -50% 0%;
  }
  100% {
    background-position: -50% 0%;
  }
}

@keyframes orbitmurcury {
  0% {
    z-index: 2;
    transform: rotateY(0);
  }
  49% {
    z-index: 2;
  }
  50% {
    z-index: -2;
  }
  99% {
    z-index: -2;
  }
  100% {
    z-index: 2;
    transform: rotateY(360deg);
  }
}

@keyframes anti-spin {
  from {
    transform: rotateY(0);
  }
  to {
    transform: rotateY(-360deg);
  }
}

@keyframes anti-spin-rings {
  from {
    transform: rotateY(0) rotateX(73deg);
  }
  to {
    transform: rotateY(-360deg) rotateX(73deg);
  }
}

/*Mercury zoom*/
.wrapper1 {
  position: relative;
  margin: 0 auto;
  display: block;
  margin-top: 0px;
  perspective: 1000px;
  perspective-origin: 60% 50%;
  transform: rotate(-10deg);
}

.wrapper1 > div {
  position: relative;
  margin: 0 auto;
  transform-style: preserve-3d;
  height: 0;
}

.mercury2 {
  width: 250px;
  position: absolute;
  top: 0;
  z-index: 1;
  height: 125px !important;
}

.mercury2 .star1 {
  width: 250px;
  height: 250px;
  background: url(./Pictures/MercuryPlanet.png) no-repeat;
  background-size: cover;
  background-color: transparent;
  border-radius: 250px;
  margin: 0 auto;
  animation: spinsun1 40s infinite linear;
}

.mercury2 .star1:hover {
  width: 300px;
  height: 300px;
}

/*Mercury zoom Animation*/
@keyframes spinsun1 {
  0% {
    transform: rotateZ(0);
    /*transform: rotate(0);*/
  }
  100% {
    transform: rotateZ(360deg);
    /* transform: rotate(360deg);*/
  }
}

.explore-title{
  color: #fbb00e;
  padding: 0px 20px 20px 20px;
}

.explore-text{
  color: white;
  padding: 100px 0px 0px 0px;
  font-size: x-large;
}

.facts-section{

}

#facts-title{
  color: #fbb00e;
  /* font-size: xx-large; */
  font-size: 48px;
  font-weight: bold;
  text-align: center;
  margin: 300px auto 0px auto;
  padding-bottom: 50px;
}

.facts-wrapper{
  display: flex;
  /*flex-wrap to make them go underneath each other*/
  flex-wrap: wrap;
  width: 1500px;
  margin: 20px auto 20px auto;
  justify-content: center;
}

.fact-1{
  background-color: black;
  width: 250px;
  height: 400px;
  color: white;
  border: 6px solid #fbb00e;
  border-radius: 10px;
  margin: 0 20px 20px 0 ;
}

.fact-1-number{
  color: #fbb00e;
  text-align: center;
}

.fact-1-title{
  text-align: center;
  font-size: large;
  font-weight: 800;
  border: 2px solid #fbb00e;
}

.fact-1-text{
  padding: 20px;
  font-size: large;
}

.fact-2{
  background-color: black;
  width: 250px;
  height: 400px;
  color: white;
  border: 6px solid #fbb00e;
  border-radius: 10px;
  margin-right: 20px;
}

.fact-2-number{
  color: #fbb00e;
  text-align: center;
}

.fact-2-title{
  text-align: center;
  font-size: large;
  font-weight: 800;
  border: 2px solid #fbb00e;
}

.fact-2-text{
  padding: 20px;
  font-size: large;
}

.fact-3{
  background-color: black;
  width: 250px;
  height: 400px;
  color: white;
  border: 6px solid #fbb00e;
  border-radius: 10px;
  margin-right: 20px;
}

.fact-3-number{
  color: #fbb00e;
  text-align: center;
}

.fact-3-title{
  text-align: center;
  font-size: large;
  font-weight: 800;
  border: 2px solid #fbb00e;
}

.fact-3-text{
  padding: 20px;
  font-size: large;
}

.fact-4{
  background-color: black;
  width: 250px;
  height: 400px;
  color: white;
  border: 6px solid #fbb00e;
  border-radius: 10px;
  margin-right: 20px;
}

.fact-4-number{
  color: #fbb00e;
  text-align: center;
}

.fact-4-title{
  text-align: center;
  font-size: large;
  font-weight: 800;
  border: 2px solid #fbb00e;
}

.fact-4-text{
  padding: 20px;
  font-size: large;
}

.fact-5{
  background-color: black;
  width: 250px;
  height: 400px;
  color: white;
  border: 6px solid #fbb00e;
  border-radius: 10px;
  margin-right: 20px;
}

.fact-5-number{
  color: #fbb00e;
  text-align: center;
}

.fact-5-title{
  text-align: center;
  font-size: large;
  font-weight: 800;
  border: 2px solid #fbb00e;
}

.fact-5-text{
  padding: 20px;
  font-size: large;
}

.fact-6{
  background-color: black;
  width: 250px;
  height: 400px;
  color: white;
  border: 6px solid #fbb00e;
  border-radius: 10px;
  margin-right: 20px;
}

.fact-6-number{
  color: #fbb00e;
  text-align: center;
}

.fact-6-title{
  text-align: center;
  font-size: large;
  font-weight: 800;
  border: 2px solid #fbb00e;
}

.fact-6-text{
  padding: 20px;
  font-size: large;
}

.fact-7{
  background-color: black;
  width: 250px;
  height: 400px;
  color: white;
  border: 6px solid #fbb00e;
  border-radius: 10px;
  margin-right: 20px;
}

.fact-7-number{
  color: #fbb00e;
  text-align: center;
}

.fact-7-title{
  text-align: center;
  font-size: large;
  font-weight: 800;
  border: 2px solid #fbb00e;
}

.fact-7-text{
  padding: 20px;
  font-size: large;
}

.fact-8{
  background-color: black;
  width: 250px;
  height: 400px;
  color: white;
  border: 6px solid #fbb00e;
  border-radius: 10px;
  margin-right: 20px;
}

.fact-8-number{
  color: #fbb00e;
  text-align: center;
}

.fact-8-title{
  text-align: center;
  font-size: large;
  font-weight: 800;
  border: 2px solid #fbb00e;
}

.fact-8-text{
  padding: 20px;
  font-size: large;
}

.fact-9{
  background-color: black;
  width: 250px;
  height: 400px;
  color: white;
  border: 6px solid #fbb00e;
  border-radius: 10px;
  margin-right: 20px;
}

.fact-9-number{
  color: #fbb00e;
  text-align: center;
}

.fact-9-title{
  text-align: center;
  font-size: large;
  font-weight: 800;
  border: 2px solid #fbb00e;
}

.fact-9-text{
  padding: 20px;
  font-size: large;
}

.fact-10{
  background-color: black;
  width: 250px;
  height: 400px;
  color: white;
  border: 6px solid #fbb00e;
  border-radius: 10px;
  margin-right: 20px;
}

.fact-10-number{
  color: #fbb00e;
  text-align: center;
}

.fact-10-title{
  text-align: center;
  font-size: large;
  font-weight: 800;
  border: 2px solid #fbb00e;
}

.fact-10-text{
  padding: 20px;
  font-size: large;
}

.gallery-title{
  color: #fbb00e;
  padding: 600px 0px 20px 0px;
}

.gallery-text{
  padding: 100px 20px 0px 20px;
  color: white;
}

.mercuryGallery {
  width: 100%;
  height: 350px;
  margin: 0 auto;
  position: relative;
}

.mercury-photo {
  position: absolute;
  width: 450px;
  height: 350;

  border-radius: 3%;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.4);
  z-index: 10;
  outline-offset: 5px;
  transition: all 0.3s;
  animation: mercury infinite linear;
}
@keyframes mercury {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.mercury-photo1 {
  top: 0;
  left: 3%;
}
.mercury-photo2 {
  top: 0;
  right: 0;
  z-index: 1;
}
.mercury-photo3 {
  top: 20px;
  left: 20%;
}
.mercury-photo4 {
  top: 40px;
  left: 40%;
}
.mercury-photo5 {
  top: 20px;
  right: 20%;
  z-index: 2;
}
.mercury-photo:hover {
  outline: 3px solid white;
  width: 500px;
  height: 400px;
}
